<a href="https://colab.research.google.com/github/juandahur/ML-UdeA-Reto-Tec/blob/main/Reto_Tecnologico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#RETO TECNÓLOGICO
##Alejandro Correa - Juan David Hurtado

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
airports = pd.read_csv('https://davidmegginson.github.io/ourairports-data/airports.csv')
airports_freq = pd.read_csv('https://davidmegginson.github.io/ourairports-data/airport-frequencies.csv')
runways = pd.read_csv('https://davidmegginson.github.io/ourairports-data/runways.csv')
countries = pd.read_csv('https://davidmegginson.github.io/ourairports-data/countries.csv')
regions = pd.read_csv('https://davidmegginson.github.io/ourairports-data/regions.csv')
departures_MDE_nal = pd.read_csv('http://medata.gov.co/sites/default/files/medata_harvest_files/salida_mensual_pasajeros_aeropuertos_destino_nacional.csv')

In [ ]:
regions[regions['iso_country'] =='CO']

,id,code,local_code,name,continent,iso_country,wikipedia_link,keywords
675,303457,CO-AMA,AMA,Amazonas Department,SA,CO,https://en.wikipedia.org/wiki/Amazonas_Department,NaN
676,303458,CO-ANT,ANT,Antioquía Department,SA,CO,https://en.wikipedia.org/wiki/Antioquía_Depart...,NaN
677,303459,CO-ARA,ARA,Arauca Department,SA,CO,https://en.wikipedia.org/wiki/Arauca_Department,NaN
678,303460,CO-ATL,ATL,Atlántico Department,SA,CO,https://en.wikipedia.org/wiki/Atlántico_Depart...,NaN
679,303461,CO-BOL,BOL,Bolívar Department,SA,CO,https://en.wikipedia.org/wiki/Bolívar_Department,NaN
680,303462,CO-BOY,BOY,Boyacá Department,SA,CO,https://en.wikipedia.org/wiki/Boyacá_Department,NaN
681,303463,CO-CAL,CAL,Caldas Department,SA,CO,https://en.wikipedia.org/wiki/Caldas_Department,NaN
682,303464,CO-CAQ,CAQ,Caquetá Department,SA,CO,https://en.wikipedia.org/wiki/Caquetá_Department,NaN
683,303465,CO-CAS,CAS,Casanare Department,SA,CO,https://en.wikipedia.org/wiki/Casanare_Department,NaN
684,303466,CO-CAU,CAU,Cauca Department,SA,CO,https://en.wikipedia.org/wiki/Cauca_Department,NaN
685,303467,CO-CES,CES,César Department,SA,CO,https://en.wikipedia.org/wiki/César_Department,NaN
686,303468,CO-CHO,CHO,Chocó Department,SA,CO,https://en.wikipedia.org/wiki/Chocó_Department,NaN
687,303469,CO-COR,COR,Córdoba Department,SA,CO,https://en.wikipedia.org/wiki/Córdoba_Department,NaN
688,303470,CO-CUN,CUN,Cundinamarca Department,SA,CO,https://en.wikipedia.org/wiki/Cundinamarca_Dep...,NaN
689,303471,CO-DC,DC,Distrito Capital de Bogotá Department,SA,CO,https://en.wikipedia.org/wiki/Distrito_Capital...,NaN
690,303472,CO-GUA,GUA,Guainía Department,SA,CO,https://en.wikipedia.org/wiki/Guainía_Department,NaN
691,303473,CO-GUV,GUV,Guaviare Department,SA,CO,https://en.wikipedia.org/wiki/Guaviare_Department,NaN
692,303474,CO-HUI,HUI,Huila Department,SA,CO,https://en.wikipedia.org/wiki/Huila_Department,NaN
693,303475,CO-LAG,LAG,La Guajira Department,SA,CO,https://en.wikipedia.org/wiki/La_Guajira_Depar...,NaN
694,303476,CO-MAG,MAG,Magdalena Department,SA,CO,https://en.wikipedia.org/wiki/Magdalena_Depart...,NaN
695,303477,CO-MET,MET,Meta Department,SA,CO,https://en.wikipedia.org/wiki/Meta_Department,NaN
696,303478,CO-NAR,NAR,Nariño Department,SA,CO,https://en.wikipedia.org/wiki/Nariño_Department,NaN
697,303479,CO-NSA,NSA,Norte de Santander Department,SA,CO,https://en.wikipedia.org/wiki/Norte_de_Santand...,NaN
698,303480,CO-PUT,PUT,Putumayo Department,SA,CO,https://en.wikipedia.org/wiki/Putumayo_Department,NaN
699,303481,CO-QUI,QUI,Quindio Department,SA,CO,https://en.wikipedia.org/wiki/Quindio_Department,NaN
700,303482,CO-RIS,RIS,Risaralda Department,SA,CO,https://en.wikipedia.org/wiki/Risaralda_Depart...,NaN
701,303483,CO-SAN,SAN,Santander Department,SA,CO,https://en.wikipedia.org/wiki/Santander_Depart...,NaN
702,303484,CO-SAP,SAP,"San Andrés, Providencia y Santa Catalina Depar...",SA,CO,"https://en.wikipedia.org/wiki/San_Andrés,_Prov...",NaN
703,303485,CO-SUC,SUC,Sucre Department,SA,CO,https://en.wikipedia.org/wiki/Sucre_Department,NaN
704,303486,CO-TOL,TOL,Tolima Department,SA,CO,https://en.wikipedia.org/wiki/Tolima_Department,NaN
705,303487,CO-U-A,U-A,(unassigned),SA,CO,NaN,NaN
706,303488,CO-VAC,VAC,Valle del Cauca Department,SA,CO,https://en.wikipedia.org/wiki/Valle_del_Cauca_...,NaN
707,303489,CO-VAU,VAU,Vaupés Department,SA,CO,https://en.wikipedia.org/wiki/Vaupés_Department,NaN
708,303490,CO-VID,VID,Vichada Department,SA,CO,https://en.wikipedia.org/wiki/Vichada_Department,NaN

In [ ]:
departures_MDE_nal

      periodo;codigo;indicador;"valor"
0      200701;11001;salida_pax;"49588"
1       200701;13001;salida_pax;"5425"
2          200701;13430;salida_pax;"0"
3          200701;13468;salida_pax;"0"
4          200701;13688;salida_pax;"0"
...                                ...
11305    201906;85001;salida_pax;"233"
11306      201906;86885;salida_pax;"0"
11307   201906;91001;salida_pax;"1733"
11308      201906;95001;salida_pax;"0"
11309      201906;99524;salida_pax;"0"

[11310 rows x 1 columns]

#BASE DE DATOS AERONAÚTICA

In [ ]:
origen_destino = pd.read_excel('/content/sample_data/BD.xlsx')

In [ ]:
origen_destino.head()

,Sigla Empresa,Nombre,Fecha,Año,Número de Mes,Origen,Nombre.1,Ciudad Origen,Pais Origen,Destino,Nombre.2,Ciudad Destino,Pais Destino,Tráfico (N/I),Tipo Vuelo,Pasajeros,Carga + Correo (Kg)
0,0EC,SAE,2021-01-01,2021,1,A06,EL ENCANTO,EL ENCANTO,COLOMBIA,LET,LETICIA-ALFREDO VASQUEZ COBO,LETICIA,COLOMBIA,N,T,3.0,31.81
1,0EC,SAE,2021-01-01,2021,1,A07,MORICHAL VIEJO,SAN JOSE DEL GUAVIARE,COLOMBIA,SJE,SAN JOSE DEL GUAVIARE- JORGE E GONZ,SAN JOSE DEL GUAVIARE,COLOMBIA,N,T,3.0,4.55
2,0EC,SAE,2021-01-01,2021,1,A13,MIRITI PARANA,MIRITI-PARANA,COLOMBIA,LET,LETICIA-ALFREDO VASQUEZ COBO,LETICIA,COLOMBIA,N,T,6.0,22.72
3,0EC,SAE,2021-01-01,2021,1,BMG,BARRANCO MINAS,GUAINIA (BARRANCO MINAS),COLOMBIA,IDA,CESAR GAVIRIA TRUJILLO,PUERTO INIRIDA,COLOMBIA,N,T,3.0,13.63
4,0EC,SAE,2021-01-01,2021,1,CRU,CARURU,CARURU,COLOMBIA,SJE,SAN JOSE DEL GUAVIARE- JORGE E GONZ,SAN JOSE DEL GUAVIARE,COLOMBIA,N,T,6.0,27.27

##1. Agrupe los vuelos por aerolínea y por país de destino (Generar gráficas)

In [ ]:
origen_destino.groupby(['Nombre','Pais Destino']).size().to_frame('Cuenta')

                                                                   Cuenta
Nombre                                             Pais Destino
 VUELA COMPAÑÍA DE AVIACION S.A.P.I DE C.V SUCURSA COLOMBIA            33
                                                   COSTA RICA           1
                                                   ESTADOS UNIDOS       2
                                                   MEXICO              27
ABSA                                               COLOMBIA            65
...                                                                   ...
VENSECAR C.A.                                      COLOMBIA             2
                                                   VENEZUELA            2
VIAS AEREAS NACIONALES  VIANA S.A.S.               COLOMBIA             8
VIVA AIR PERU                                      COLOMBIA            31
                                                   PERU                29

[722 rows x 1 columns]

##2. Liste los vuelos por earolínea, por día de menor a mayor y de mayor a menor. El usuario debe elegir el orden de visualización. (Visualizar los datos)

In [ ]:
origen_destino.sort_values('Fecha', ascending=True)

,Sigla Empresa,Nombre,Fecha,Año,Número de Mes,Origen,Nombre.1,Ciudad Origen,Pais Origen,Destino,Nombre.2,Ciudad Destino,Pais Destino,Tráfico (N/I),Tipo Vuelo,Pasajeros,Carga + Correo (Kg)
0,0EC,SAE,2021-01-01,2021,1,A06,EL ENCANTO,EL ENCANTO,COLOMBIA,LET,LETICIA-ALFREDO VASQUEZ COBO,LETICIA,COLOMBIA,N,T,3.0,31.81
2761,AVA,AVIANCA,2021-01-01,2021,1,SMR,SIMON BOLIVAR,SANTA MARTA,COLOMBIA,GYE,SIMON BOLIVAR,GUAYAQUIL,ECUADOR,I,R,7.0,0.00
2762,AVA,AVIANCA,2021-01-01,2021,1,SMR,SIMON BOLIVAR,SANTA MARTA,COLOMBIA,IAD,DULLES INTL D.C.,WASHINGTON,ESTADOS UNIDOS,I,R,8.0,0.00
2763,AVA,AVIANCA,2021-01-01,2021,1,SMR,SIMON BOLIVAR,SANTA MARTA,COLOMBIA,JFK,JOHN F KENNEDY INTL,NEW YORK,ESTADOS UNIDOS,I,R,31.0,0.00
2764,AVA,AVIANCA,2021-01-01,2021,1,SMR,SIMON BOLIVAR,SANTA MARTA,COLOMBIA,LPB,EL ALTO INTERNACIONAL,LA PAZ,BOLIVIA,I,R,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59251,AAL,AMERICAN,2021-12-01,2021,12,PHL,"PHILADELPHIA INTL, PA.",PHILADELPHIA,ESTADOS UNIDOS,BOG,BOGOTA - ELDORADO,BOGOTA,COLOMBIA,I,R,186.0,0.00
59250,AAL,AMERICAN,2021-12-01,2021,12,PEI,PEREIRA - MATECAÑAS,PEREIRA,COLOMBIA,MIA,MIAMI INTL,MIAMI,ESTADOS UNIDOS,I,R,2895.0,0.00
59249,AAL,AMERICAN,2021-12-01,2021,12,PEI,PEREIRA - MATECAÑAS,PEREIRA,COLOMBIA,MAD,BARAJAS,MADRID,ESPANA,I,R,3.0,0.00
59247,AAL,AMERICAN,2021-12-01,2021,12,PDX,PORTLAND INTL,OREGON,ESTADOS UNIDOS,BOG,BOGOTA - ELDORADO,BOGOTA,COLOMBIA,I,R,21.0,0.00
63440,VVC,FAST COLOMBIA SAS,2021-12-01,2021,12,SMR,SIMON BOLIVAR,SANTA MARTA,COLOMBIA,PEI,PEREIRA - MATECAÑAS,PEREIRA,COLOMBIA,N,R,7071.0,0.00

In [ ]:
origen_destino.sort_values('Fecha', ascending=False)

,Sigla Empresa,Nombre,Fecha,Año,Número de Mes,Origen,Nombre.1,Ciudad Origen,Pais Origen,Destino,Nombre.2,Ciudad Destino,Pais Destino,Tráfico (N/I),Tipo Vuelo,Pasajeros,Carga + Correo (Kg)
63440,VVC,FAST COLOMBIA SAS,2021-12-01,2021,12,SMR,SIMON BOLIVAR,SANTA MARTA,COLOMBIA,PEI,PEREIRA - MATECAÑAS,PEREIRA,COLOMBIA,N,R,7071.0,0.00
59248,AAL,AMERICAN,2021-12-01,2021,12,PEI,PEREIRA - MATECAÑAS,PEREIRA,COLOMBIA,LHR,HEATHROW,LONDRES,INGLATERRA,I,R,1.0,0.00
59250,AAL,AMERICAN,2021-12-01,2021,12,PEI,PEREIRA - MATECAÑAS,PEREIRA,COLOMBIA,MIA,MIAMI INTL,MIAMI,ESTADOS UNIDOS,I,R,2895.0,0.00
59251,AAL,AMERICAN,2021-12-01,2021,12,PHL,"PHILADELPHIA INTL, PA.",PHILADELPHIA,ESTADOS UNIDOS,BOG,BOGOTA - ELDORADO,BOGOTA,COLOMBIA,I,R,186.0,0.00
59252,AAL,AMERICAN,2021-12-01,2021,12,PHL,"PHILADELPHIA INTL, PA.",PHILADELPHIA,ESTADOS UNIDOS,MDE,RIONEGRO - JOSE M. CORDOVA,RIONEGRO - ANTIOQUIA,COLOMBIA,I,R,305.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2765,AVA,AVIANCA,2021-01-01,2021,1,SMR,SIMON BOLIVAR,SANTA MARTA,COLOMBIA,MAD,BARAJAS,MADRID,ESPANA,I,R,13.0,0.00
2764,AVA,AVIANCA,2021-01-01,2021,1,SMR,SIMON BOLIVAR,SANTA MARTA,COLOMBIA,LPB,EL ALTO INTERNACIONAL,LA PAZ,BOLIVIA,I,R,1.0,0.00
2763,AVA,AVIANCA,2021-01-01,2021,1,SMR,SIMON BOLIVAR,SANTA MARTA,COLOMBIA,JFK,JOHN F KENNEDY INTL,NEW YORK,ESTADOS UNIDOS,I,R,31.0,0.00
2762,AVA,AVIANCA,2021-01-01,2021,1,SMR,SIMON BOLIVAR,SANTA MARTA,COLOMBIA,IAD,DULLES INTL D.C.,WASHINGTON,ESTADOS UNIDOS,I,R,8.0,0.00
0,0EC,SAE,2021-01-01,2021,1,A06,EL ENCANTO,EL ENCANTO,COLOMBIA,LET,LETICIA-ALFREDO VASQUEZ COBO,LETICIA,COLOMBIA,N,T,3.0,31.81

##3. Listado de los vuelos por aerolínea , por la ciudad de destino, su cantidad de escalas, cantidad de pasajeros movilizados ordenados de mayor a menor y viceversa. El usuario debe elegir el orden de visualización. (Grafico de líneas)

In [ ]:
origen_destino[['Nombre','Fecha','Origen','Nombre.1','Pais Origen','Destino','Nombre.2','Pais Destino','Pasajeros']].sort_values('Pasajeros', ascending=False)

,Nombre,Fecha,Origen,Nombre.1,Pais Origen,Destino,Nombre.2,Pais Destino,Pasajeros
60199,AVIANCA,2021-12-01,BOG,BOGOTA - ELDORADO,COLOMBIA,MDE,RIONEGRO - JOSE M. CORDOVA,COLOMBIA,68743.0
60644,AVIANCA,2021-12-01,MDE,RIONEGRO - JOSE M. CORDOVA,COLOMBIA,BOG,BOGOTA - ELDORADO,COLOMBIA,67959.0
54497,AVIANCA,2021-11-01,MDE,RIONEGRO - JOSE M. CORDOVA,COLOMBIA,BOG,BOGOTA - ELDORADO,COLOMBIA,64290.0
54131,AVIANCA,2021-11-01,BOG,BOGOTA - ELDORADO,COLOMBIA,MDE,RIONEGRO - JOSE M. CORDOVA,COLOMBIA,63649.0
48265,AVIANCA,2021-10-01,BOG,BOGOTA - ELDORADO,COLOMBIA,MDE,RIONEGRO - JOSE M. CORDOVA,COLOMBIA,58747.0
...,...,...,...,...,...,...,...,...,...
664,TAC,2021-01-01,TBQ,TIMBIQUI,COLOMBIA,CLO,CALI - ALFONSO BONILLA ARAGON,COLOMBIA,NaN
13321,AEROMENEGUA,2021-04-01,MVP,MITU,COLOMBIA,MTN,BUENOS AIRES - VAUPES,COLOMBIA,NaN
39156,TURKISH AIRLINES INC,2021-08-01,ABJ,ABIDJAN,COSTA DE MARFIL,BOG,BOGOTA - ELDORADO,COLOMBIA,NaN
50140,LAS,2021-10-01,LIM,CALLAO /INTL JORGE CHAVEZ,PERU,BOG,BOGOTA - ELDORADO,COLOMBIA,NaN
58452,AEROPACA SAS,2021-12-01,GYM,GUAYMARAL,COLOMBIA,PCR,GERMAN OLANO,COLOMBIA,NaN

In [ ]:
origen_destino[['Nombre','Fecha','Origen','Nombre.1','Pais Origen','Destino','Nombre.2','Pais Destino','Pasajeros']].sort_values('Pasajeros', ascending=True)

,Nombre,Fecha,Origen,Nombre.1,Pais Origen,Destino,Nombre.2,Pais Destino,Pasajeros
31720,DELTA,2021-07-01,BOG,BOGOTA - ELDORADO,COLOMBIA,SWF,STEWART INTERNATIONAL,ESTADOS UNIDOS,0.0
37837,LUFTHANSA,2021-08-01,BOG,BOGOTA - ELDORADO,COLOMBIA,VCE,TESSERA,ITALIA,0.0
37836,LUFTHANSA,2021-08-01,BOG,BOGOTA - ELDORADO,COLOMBIA,VAR,VARSOVIA,COLOMBIA,0.0
37835,LUFTHANSA,2021-08-01,BOG,BOGOTA - ELDORADO,COLOMBIA,TXL,TEGEL,ALEMANIA,0.0
37833,LUFTHANSA,2021-08-01,BOG,BOGOTA - ELDORADO,COLOMBIA,TLS,BLAGNAC,FRANCIA,0.0
...,...,...,...,...,...,...,...,...,...
664,TAC,2021-01-01,TBQ,TIMBIQUI,COLOMBIA,CLO,CALI - ALFONSO BONILLA ARAGON,COLOMBIA,NaN
13321,AEROMENEGUA,2021-04-01,MVP,MITU,COLOMBIA,MTN,BUENOS AIRES - VAUPES,COLOMBIA,NaN
39156,TURKISH AIRLINES INC,2021-08-01,ABJ,ABIDJAN,COSTA DE MARFIL,BOG,BOGOTA - ELDORADO,COLOMBIA,NaN
50140,LAS,2021-10-01,LIM,CALLAO /INTL JORGE CHAVEZ,PERU,BOG,BOGOTA - ELDORADO,COLOMBIA,NaN
58452,AEROPACA SAS,2021-12-01,GYM,GUAYMARAL,COLOMBIA,PCR,GERMAN OLANO,COLOMBIA,NaN